/* Imports de fontes */
/*Raleway*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
/*Arimo*/
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@700&display=swap');

header {
    padding-bottom: 10px;
    color: white;
    width: 100%;
}

body {
    background-color: #245d7e;
}

h1 img {
    justify-self: end;
}

.flex-box {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.container-box {
    height: 300px;
}
  
.content-box {
    text-align: center;
    width: 200px;
    font-family: Roboto;
}

.btn {
    margin-top: 10px;
    width: 250px
}

.nav {
    background-color: rgba(255, 255, 255, 0.986);
}

.nav-item:hover{
    font-size: 20px;
}

.column-1 {
    padding: 1% 4%;
    background-color: rgba(192, 177, 45, 0.89);
}

.column-2 {
    padding: 1% 4%;
    background-color: rgba(32, 170, 94, 0.856);
}

.column-3 {
    padding: 1% 4%;
    background-color: rgba(28, 168, 161, 0.856);
}

.column-4 {
    padding: 1% 4%;
    background-color: rgb(255, 255, 255);
}

.column-5 {
    padding: 1% 4%;
    background-color: rgba(26, 138, 132, 0.856);
}

.column-6 {
    padding: 1% 4%;
    background-color: rgba(29, 145, 81, 0.856);
}

.subcolumn {
    padding: 1%;
}

.sub-text {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    color: black;
}

.principal-text {
    font-family: 'Arimo', sans-serif;
    color: rgb(255, 255, 255);
}

.secundary-heading {
    color: black;
    text-align: center;
    padding-bottom: 1%;
}

.secundary-text {
    font-size: 16px;
    color: black;
    text-align: start;
}

.icon {
    width: 10%;
    padding-bottom: 2%;
}

.carousel-item img {
    width: 300px;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#mother {
    background-color: white;
}

#session-token {
    color: black;
    margin-bottom: unset;
}

#white-background {
    color: black;
}

#contact {
    display: inline;
    margin-left: 2%;
}






